body{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.xyz{
	width:400px;
	height:120px;
	background-color:#EDDA74;
	padding:20px;
	margin:50px auto;
	border:20px double #C19A6B;
	border-radius:25%;
	display:block;

	
}
