*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.card{
    width: 100%;
    font-family: arial;
}
.card .card-img{
   
    width: 100%;    
    overflow: hidden;
   
}
.card .card-img img{
    width: 100px;
    transition: 0.4s;
}
.card:nth-child(1) .card-img:hover img{
    transform: scale(1.3);
}
.card:nth-child(2) .card-img:hover img{
    transform: scaleX(1.3);
}
.card:nth-child(3) .card-img:hover img{
    transform: scaleY(1.3);
}
.card:nth-child(4) .card-img:hover img{
    transform: skew(35deg);
}
.card:nth-child(5) .card-img:hover img{
    transform: skewX(35deg);
}
.card:nth-child(6) .card-img:hover img{
    transform: skewY(35deg);
}
.card:nth-child(7) .card-img:hover img{
    transform: rotate(35deg);
}
.card:nth-child(8) .card-img:hover img{
    transform: rotateX(65deg);
}
.card:nth-child(9) .card-img:hover img{
    transform: rotateY(65deg);
}
.card:nth-child(10) .card-img:hover img{
    transform: translate(20px, 15px);
}
.card:nth-child(11) .card-img:hover img{
    transform: translateX(15px);
}
.card:nth-child(12) .card-img:hover img{
    transform: translateY(15px);
}
